.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.editor {
  display: flex;
  gap: 20px;
  height: 700px;
  position: relative;
}
.editorInput {
  width: 100%;
}

.titleInput {
  color: var(--textColor);
  padding: 50px;
  font-size: 4rem;
  border: none;
  outline: none;
  background-color: transparent;
}
.titleInput::placeholder {
  color: var(--softTextColor);
}

.addMenu {
  display: flex;
  gap: 20px;
  background-color: transparent;
  background-color: var(--bgTransparent);
  position: absolute;
  z-index: 100;
  left: 58px;
  border-radius: 20px;
  /* padding: 20px; */
}
.editorButton,
.addMenuButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--bg);
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.addMenuButton {
  border: 1px solid #1a8917;
}

.publishButton {
  position: absolute;
  top: 30px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #1a8917;
  color: var(--baseWhite);
  cursor: pointer;
}

/* Tag Checkboxes ============================= */
.tagCheckbox input {
  margin-right: 8px;
}
.tagsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
}
.tagCheckboxContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 15%;

  transition: width 0.1s ease-out;
}
/* Individual Category Styles */
.tagCheckboxContainer.coding {
  background-color: var(--category-coding);
}
.tagCheckboxContainer.music {
  background-color: var(--category-music);
}
.tagCheckboxContainer.film {
  background-color: var(--category-film);
}
.tagCheckboxContainer.food {
  background-color: var(--category-food);
}
.tagCheckboxContainer.gaming {
  background-color: var(--category-gaming);
}
.tagCheckboxContainer.philosophy {
  background-color: var(--category-philosophy);
}

/* Responsive Design ============================= */
@media screen and (max-width: 1280px) {
  .tagCheckboxContainer {
    width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .tagCheckboxContainer {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .tagCheckboxContainer {
    width: 45%;
  }
}
@media screen and (max-width: 640px) {
  .tagCheckboxContainer {
    width: 100%;
  }
}
