:root {
  --bg: white;
  --textColor: #0a0a0a;
  --softBG: #f0f0f0;
  --softTextColor: #626262;

  --baseBlack: #1a1a1a;
  --baseWhite: #e8e8e8;
  --softBlack: #303030;
  --softWhite: #aaaaaa;

  /* --textColor: #0a0a0a;
  --softBG: #f0f0f0;
  --softTextColor: #626262; */

  --category-coding: #ff6961;
  --category-music: #cbaacb;
  --category-film: #aec6cf;
  --category-food: #ffb347;
  /* --category-gaming: #fdfd96; */
  --category-gaming: #f0c1e1;
  --category-philosophy: #77dd77;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Color Themes */
.light-theme {
  --bg: var(--baseWhite);
  --textColor: var(--baseBlack);
  --softBG: var(--softWhite);
  --softTextColor: var(--softBlack);
}
.dark-theme {
  --bg: var(--baseBlack);
  --textColor: var(--baseWhite);
  --softBG: var(--softBlack);
  --softTextColor: var(--softWhite);
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

/* React Quill Styles */
.ql-container {
  font-size: 1.75rem !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #b3b3b1;
  /* color: red; */
}

/* Responsive Design */

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640;
  }
}
@media screen and (max-width: 640) {
  .wrapper {
    max-width: 475px;
  }
}
