.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.social {
  display: flex;
  gap: 10px;
  flex: 1;
}

.logo {
  display: flex;
  align-items: center;
  text-align: center;
  flex: 1;

  font-weight: bold;
  font-size: 2.25rem;
}
.links {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;

  font-size: 1.25rem;
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 1.5rem;
  }
  .link {
    font-size: 1rem;
    gap: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .social {
    display: none;
  }
  .logo {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .social {
    display: none;
  }
  .logo {
    text-align: left;
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 640px) {
  .links {
    justify-content: flex-end;
  }
  .link {
    display: none;
    /* background-color: red; */
  }
}
