.container {
  display: flex;
  position: relative;

  align-items: center;
  justify-content: space-between;

  width: 2.75rem;
  height: 1.25rem;
  border-radius: 3.125rem;

  cursor: pointer;

  background-color: black;
}

.ball {
  position: absolute;

  width: 0.938rem;
  height: 0.938rem;
  border-radius: 50%;

  background-color: white;

  /* TODO: Figure out why this is not working */
  transition: left 1s ease-out, right 1s ease-out;
}
