.container {
}

.title {
  margin: 50px 0px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 15%;
  height: 80px;
  justify-content: center;
  border-radius: 10px;

  transition: width 0.1s ease-out;
}

/* Individual Category Styles */
.category.coding {
  background-color: var(--category-coding);
}
.category.music {
  background-color: var(--category-music);
}
.category.film {
  background-color: var(--category-film);
}
.category.food {
  background-color: var(--category-food);
}
.category.gaming {
  background-color: var(--category-gaming);
}
.category.philosophy {
  background-color: var(--category-philosophy);
}

.image {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
}
@media screen and (max-width: 640px) {
  .category {
    width: 100%;
  }
}
